.right-panel-header {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #555;
}

.right-panel-content {
    opacity: .5;
    font-size: 13px;
    // padding: 2rem;
}

.right-panel-content-para {
    .para-text {
        margin: 0;
        padding: 0;
    }
}